.graph_div {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.graph_div .title {
  font-size: 1.6rem;
  font-weight: 800;
  color: #582e9a;
}
.graph_label{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 20px;
}
.graph_label p {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: green;
    margin-right: 10px;
}
.graph_label :nth-child(2) {
    background-color: lightblue;
}
.graph_label :nth-child(3) {
    background-color: #210C4C;
}

@media screen and (max-width:567px){
  .graph_div .title {
    font-size: 16px;
  }
}