.icon_bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
  border: 1px solid #E6E6E6 !important;
  outline: none;
}
.icon_bttn:hover {
  transform: translateY(-2px);
}
.icon_bttn:focus {
  box-shadow: none;
}
