.home_main {
  font-family: Avenir-Roman;
  .header {
    background-color: #eee7ff;
    margin-top: 90px;
    .header_row {
      justify-content: space-between;
      align-items: center;
      .user_header {
        display: flex;
        align-items: center;
        padding: 10px 0;
        .title {
          //   font-size: 16px;
          font-size: 1.6rem;
          color: #582e9a;
          font-weight: bold;
          line-height: 2.2rem;
          width: 25%;
          @media screen and (max-width: 567px) {
            width: 100%;
            text-align: center;
            font-size: 14px !important;
          }
        }
        .user_img {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          overflow: hidden;
          margin-left: 12px;
          @media screen and (max-width: 567px) {
            height: 36px;
            width: 36px;
          }
          img {
            height: 100%;
            width: 100%;
          }
        }
        .logo_div {
          display: flex;
          @media screen and (max-width: 567px) {
            align-items: center;
            margin: 12px 0;
          }
          .logo {
            width: 120px;
            margin-left: 10px;
            mix-blend-mode: darken;
            height: max-content;
            margin-top: 10px;
            @media screen and (max-width: 567px) {
              height: 25px;
            }
          }
        }
        .map_title {
          display: none;
          @media screen and (max-width: 567px) {
            font-weight: 900;
            color: #582e9a;
            text-align: center;
            line-height: 33px;
            margin: 1.5rem 0;
            display: block;
            font-size: 24px;
            // font-size: 24px;
          }
        }
      }
      .bbtn_div {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
    .map_sec {
      // height: 362px;
    }
    .rang_slider {
      padding: 6rem 0;
      @media screen and (max-width: 567px) {
        margin-top: 16rem;
        padding: 0;
      }
    }

    @media screen and (max-width: 567px) {
      background-color: #ffffff;
      .user_header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .graph_sec {
    background-color: #f7f3fe;
    padding: 5rem 0;
    @media screen and (max-width: 567px){
      background-color: #fff;
    }
    .row {
      justify-content: space-between;
      @media screen and (min-width: 1200px){
        max-height: 470px;
      }
      .col {
        padding: 0 2rem;
      }
    }
  }
}
