.accuracy_card{
    background-color: #FFFFFF;
    padding: 10px 16px;
    border: 1px solid #E5E5E5;
    margin-bottom: 5rem;
    font-family: Avenir-Roman;
    border-radius: 5px;
}
.acrcy_crd_title{
    font-size: 3.2rem;
    color: #323232;
    font-weight: 800;
    
}
.acrcy_crd_heghtlight{
    font-size: 1.4rem;
    font-style: italic;
    font-weight: normal;
}
.acrcy_crd_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crd_title{
    font-size: 1.6rem;
    color: #323232;
    font-style: italic;
}
.icons_div{
    display: flex;
    align-items: self-end;
}
.head{
    font-size: 1.4rem;
    color: #323232;
    font-style: italic;
}
.spd_div{
    /* height: 32px; */
    width: 32px;
    margin: 0 10px;
}
.spd{
    width: 100%;
    /* height: 100%; */
    background-size: contain;
}
.info_div{
    width: 17px;
    /* height: 17px; */
}
.info{
    width: 100%;
    height: 100%;
}
.desc{
    font-size: 1.6rem;
    color: #323232;
    margin-top: 10px;
}
/* TABS */
.tab_div{
    padding: 2rem 0;
}
/* TABS */

/* TAB LIST */
.tab_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CECAD8;
    padding: 1.5rem 0;
    font-family: Avenir-Roman;
}
.icon_div{
    display: flex;
    align-items: center;
}
.icon_div img{
    width: 24px;
    margin-right: 1.3rem;
}
.icon_div .title{
    font-size: 1.4rem;
    font-weight: 800;
    color: #210C4C;
}
.list_desc{
    font-size: 1.4rem;
    color: #393939;
}

@media screen and (max-width:567px){
    .acrcy_crd_heghtlight{
        font-size: 11px;
        vertical-align: text-bottom;
        line-height: 14px;
    }
    .head{
        font-size: 11px;
        /* line-height: 11px; */
    }
    .crd_title{
        font-size: 12px;
    }
     
    .desc{
        font-size: 12px;
    }
    .icon_div .title{
        /* font-size: 11px; */
    }
     .list_desc{
        /* font-size: 11px; */
    }
}