.slider_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .slider {
  width: 60%;
} */
.title {
  font-size: 1.8rem;
  color: #582e9a;
  font-weight: 800;
}
.slider_row {
  justify-content: space-between;
  margin-bottom: 16px;
}
.slider_content_div {
  display: flex;
  align-items: center;
  width: max-content;
}
.dot {
  width: 17px;
  height: 8px;
  background-color: #428a2e;
  opacity: 0.8;
  border-radius: 5px;
}
.text_div{
  display: flex;
  margin-left: 10px;
  align-items: baseline;
}
.heading {
  font-size: 1.4rem;
  font-weight: 800;
  color: #582e9a;
}
.heighlight {
  font-size: 1.2rem;
  color: #969696;
  font-style: italic;
  font-weight: normal;
  margin-left: 5px;
}
.bttn_col{
  display: flex;
  justify-content: end;
}
.slider_bttn{
  height: 37px !important;
  width: 132px !important;
  left: auto;
}

@media screen and (max-width: 567px) {
  .slider_div {
    justify-content: center;
    padding: 0px 20px;
  }
  .slider {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .title {
    font-size: 14px;
  } 
  .heighlight{
    font-size: 11px;
  }
  .heading {
    font-size: 11px;
    font-weight: 800;
  }
  .slider_row {
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
  }
  .slide_col {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .text_div{
   display: flex;
   flex-direction: column;
   text-align: left;
  }
  .slider_bttn{
    width: 100% !important;
    font-size: 14px !important;
    padding: 15px 0px !important;
    height: auto !important;
    font-weight: 800 !important

  }
  .dot {
    margin-top: 2px;
  }
  .slider_content_div {
    align-items: unset;
  }
}


@media screen and (max-width: 375px) {
  .slider_div {
    justify-content: center;
    padding: 0px 10px;
  }
}