body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Avenir-Roman !important;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Avenir-Black";
  src: url("./assets/fonts/avenir_ff/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "Avenir-Book";
  src: url("./assets/fonts/avenir_ff/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir-Roman";
  src: url("./assets/fonts/avenir_ff/AvenirLTStd-Roman.otf");
}

html {
  font-size: 62.5%;
}
/* @media screen and (max-width: 1920px) and (min-width: 1600px) {
  html {
    font-size: 58%;
  }
} */
@media screen and (max-width: 1599px) and (min-width: 1366px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 471px) and (min-width: 320px) {
  html {
    font-size: 42.5%;
  }
}

/* navbar */
.navbar-light .navbar-toggler{
  border: unset;
  color: transparent;
}
.navbar-light .navbar-toggler:focus{
  box-shadow: unset;
}
.navbar-light .navbar-toggler-icon{
  background-image:  url('../src/assets/banner/nav-icon.svg') !important; 
  transform: scale(1.7);
}
.menu_div {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
.menu_div .navbar {
  padding: 0;
  /* min-height: 70px; */
  padding: 20px 20px;
  background-color: #fff;
}
.navbar-collapse {
  justify-content: end;
}
.menu_div .navbar-brand {
  font-size: 1.6rem;
  font-weight: 900 !important;
  font-family: "Avenir-Black";
  color: #582e9a !important;
  padding-bottom: 0 !important;
}
.menu_div .navbar-brand img {
  width: 40px;
  margin-right: 10px;
}

.menu_div .nav-signout-div {
  display: flex;
  align-items: center;
  border-left: 1px solid #808080;
  padding-left: 2rem;
}
.menu_div .nav-signout-div:hover {
  background-color: #eee7ff !important;
  cursor: pointer !important;
}
.menu_div .nav-signout-div p {
  font-size: 1.6rem;
  color: #808080;
}
.menu_div .nav-signout-div .signout-icon {
  font-size: 1.8rem;
  color: #808080;
  margin-left: 10px;
}

.menu_div .navbar-nav .nav-link {
  margin-right: 2.8rem;
  font-size: 1.6rem;
  color: #582e9a !important;
}
.menu_div .navbar-nav .nav-link:hover {
  font-weight: 700;
}


/* Tabs */
.acrcy_tabs .nav-tabs {
  border-bottom: none !important;
}
.acrcy_tabs .nav-link {
  padding: 1rem 0rem;
  margin-right: 4rem;
  color: #393939bf;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: Avenir-Roman;
}
.acrcy_tabs .nav-tabs .nav-link {
  margin-bottom: 0 !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: transparent !important;
}
.acrcy_tabs .nav-link.active {
  color: #210c4c !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 3px solid #210c4c !important;
  font-weight: 800;
}

@media screen and (max-width: 992px) {
  /* Nav bar */
  .menu_div .navbar-collapse {
    text-align: center;
    padding: 10px;
  }
  .menu_div .navbar-collapse .nav-signout-div {
    display: flex;
    align-items: center;
    border-left: none;
    padding-left: 0;
    justify-content: center;
    color: #582e9a;
    padding: 0.5rem 0;
  }
  .menu_div .navbar-collapse .nav-signout-div:hover {
    background-color: #eee7ff;
  }
  .menu_div .menu_div .navbar-nav .nav-link {
    margin-right: 0 !important;
  }
  .menu_div .navbar-nav .nav-link:hover {
    background-color: #eee7ff !important;
  }
}

@media screen and (max-width:567px){
  .acrcy_tabs .nav-tabs {
    justify-content: space-between;
  }
  .acrcy_tabs .nav-link {
    font-size: 16px;
  } 
}

