.map_div {
  width: 100%;
  position: relative;
  background-color: tomato;
}
.map_text_div {
  width: max-content;
  position: absolute;
  top: 6rem;
  left: 13rem;
}
.map_text_div .text_background{
  background-color: #ffffff80;
}
.map_text_div .content .title {
  font-size: 3.6rem;
  font-weight: 900;
  color: #582e9a;
  line-height: 49px;
  padding: 5px;

}
.map_img {
  width: 32rem;
  height: 21rem;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  right: 13rem;
}
.map_img img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 567px) {
  .map_div {
    /* height: 400px; */
  }
  .map_text_div {
    display: none;
  }
  .map_img {
   
    background-image: url('../../assets/banner/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 25rem;
    bottom: -12.5rem;
    top: unset;
    margin: 0 auto;
    left: 20%;
    right: 20%;
  }
  .map_img img{
    display: none;
  }
}
