.range {
    position: relative;
  }
  .range .range_slide {
    position: absolute;
    width: 100%;
    background: transparent;
    appearance: none;
    left: 0;
    top: -3px;
    z-index: 9;
    outline: none;
    opacity: 0;
  }
  .range .range_slide::-ms-expand {
    display: none;
  }
  .range .range_slide::-ms-clear {
    display: none;
  }
  .range .range_slide::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
    margin: -3px 0 0 -3px;
    cursor: pointer;
    appearance: none;
  }
  .range .circle {
    position: absolute;
    top: -10px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .07);
    border: none;
    /* outline: 6px solid #582E9A40; */
    background: #582E9A;
    display: inline-block;
    transition: 0.2s;
  }
  .range .circle_bg{
    position: absolute;
    top: -15px;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .07);
    transform: translateX(-5px);
    border: none;
    /* outline: 6px solid #582E9A40; */
    background: #582E9A40;
    display: inline-block;
    transition: 0.2s;
  }
  .range .range_value {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 6px;
    background: #582E9A;
    border-radius: 10px 0 0 10px;
    transition: 0.2s;
  }
  .range::after {
    content: '';
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: #D9C2FB;
    display: block;
  }
  .range::before {
    position: absolute;
    right: 1px;
    top: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #582E9A;
    border-radius: 50%;
    content: '';
  }
  .range .bullet {
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
     top: 1px;
    background: #582E9A;
    border-radius: 50%;
  }
  
  